*{
    font-family: 'Museo Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    /* outline: solid 1px #0004; */
}

body{
    background-color: rgb(241, 241, 241);
}

.menu-list-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header-unauthorized-logo-4{
    height: 24px;
    position: relative;
    text-align: center;
}

.menu-logo{
    margin-right: 24px;
    
}

.menu-container{
    display: inline-block;
    position: relative;
    flex-shrink: 0;
    margin-right: 16px;
    font-size: 12px;
    cursor: pointer;
}

.menu-container:hover{
    color: sandybrown;
}
 
.menu-container .sozdat-koshelek{
    padding: 8px 24px;
    border-radius: 50px;
    background-color: white;
    border: solid 1px rgb(206, 206, 206);
    font-size: 12px;
    cursor: pointer;
    
}

.menu-container .sozdat-koshelek:hover{
    border: solid 1px rgb(143, 143, 143);
}

.menu-container .voiti{
    padding: 8px 24px;
    border-radius: 50px;
    background-color: rgb(248, 150, 21);
    border: solid 1px rgb(206, 206, 206);
    font-size: 12px;
    cursor: pointer;
    color: white;
}

.Shnurki{
    display: block;
    font-size: 15px;
    font-weight: 900;
    line-height: 32px;
    color: #000;
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: center;

}

.number{
    display: block;
    font-family: "Museo Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: rgb(0, 0, 0);
    text-overflow: ellipsis;
    overflow: hidden;
    overflow-wrap: break-word;
    text-align: center;
}

.wallet{
    display: flex;
    justify-content: center;
}

.wallet button{
    border: none;
    padding: 10px 24px;
    font-size: 14px;
    margin-top: 20px;
    font-weight: 400;
    color: #fff;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    overflow-wrap: break-word;
    background: linear-gradient(rgb(255, 152, 16), rgb(255, 131, 0));
    border-radius: 20px;
    box-shadow: rgb(255, 206, 135) 0px 15px 50px -10px;
}

.wallet button svg{
    width: 16px;
    vertical-align: bottom;
}

.bot{
    text-align: center;
}

.img-pay{
    width: 96px;
}

.text-pay h1{
    margin: 0;
    font-size: 18px;
    margin-bottom: 6px;
    
}

.text-pay p{
    margin: 0;
    font-size: 12px;
    color: rgb(88, 88, 88);
    margin-bottom: 16px;
}

.button-grey{
    border-radius: 100px;
    background-color: white;
    border: solid 1px rgb(201, 201, 201);
    padding: 8px 16px;
    white-space: nowrap;
}

.container-apple-pay{
    background-color: rgb(255, 255, 255);
    margin: 36px auto;
    width: 800px;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 2px 0px;
    display: flex;
    align-items: center;
    padding: 16px 32px;
    gap: 32px;
}

.container-qiwi-pay{
    width: 344px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 2px 0px;
    display: flex;
    align-items: center;
    padding: 32px 32px;
    gap: 32px;
}

.container-qiwi-pay img{
    width: 140px;
}

.container-qiwi{
    display: flex;
    margin: 0 auto;
    width: 800px;
    gap: 32px;
    
}

.container-footer{
    width: 800px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}


.footer-left span{
    display: block;
    font-size: 10px;
    font-weight: 300;
    color: rgb(161, 161, 161);  
    margin-bottom: 16px;
}

.links a{
    font-size: 10px;
    font-weight: 300;
    color: rgb(161, 161, 161);  
    text-decoration: none;
    margin-right: 8px;
}

.links a:hover{
    color: rgb(102, 102, 102);
}

.footer-right .phone{
    font-size: 10px;
    font-weight: 300;
    color: rgb(161, 161, 161);
    display: flex;
    flex-direction: column;
    text-align: right;
}

.footer-right .phone a{
    text-decoration: none;
    color: rgb(161, 161, 161);
    font-size: 16px;
    text-align: right;
    margin-top: 8px;
}

.apps svg{
    height: 20px;
}


.apps a{
    margin-right: 8px;
    text-decoration: none;
}

.social{
    display: flex;
    gap: 8px;
    margin-top: 16px;
    justify-content: flex-end;
}

.social svg{
    height: 16px;
}

.social a{
    display: flex;
    border: solid 1px rgb(177, 177, 177);
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 4px;
}

.social a:hover{
    filter: contrast(0%);
}

.sponsors{
    display: block;
    margin-top: 16px;
}

.sponsors img{
    height: 16px;
}